Import packages and data

In [1]:
import numpy as np
import pandas as pd
import data
import src.utils as utils
from pandas.api.types import is_datetime64_any_dtype as is_datetime

/Users/maxwang/PycharmProjects/group7-group-assignment-/src/data_processing/data.py:34: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_trips = full_trips.append(df)
/Users/maxwang/PycharmProjects/group7-group-assignment-/src/data_processing/data.py:34: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_trips = full_trips.append(df)
/Users/maxwang/PycharmProjects/group7-group-assignment-/src/data_processing/data.py:34: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_trips = full_trips.append(df)
/Users/maxwang/PycharmProjects/group7-group-assignment-/src/data_processing/data.py:34: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_trips = full_trips.append(df)
/Users/maxwang/PycharmProjects/group7-group-assignment-/src/data_processing/data.py:34: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_trips = full_trips.append(df)
/Users/maxwang/PycharmProjects/group7-group-assignment-/src/data_processing/data.py:34: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_trips = full_trips.append(df)
/Users/maxwang/PycharmProjects/group7-group-assignment-/src/data_processing/data.py:34: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_trips = full_trips.append(df)

# FACILITIES
 Impute the URI so we only have the digit part

In [2]:
data.facilities['URI'] = data.facilities['URI'].str[-9:]
data.facilities['URI']

0      008734201
1      008015345
2      008895000
3      008895125
4      008891140
         ...
669    008832334
670    008895208
671    008891611
672    008894821
673    008883212
Name: URI, Length: 674, dtype: object

Change disabled parking spots to dummy indicator

In [3]:
data.facilities['disabled_parking_spots'] = np.where(data.facilities['disabled_parking_spots'] == 0, 0, 1)
data.facilities['disabled_parking_spots']

0      1
1      1
2      1
3      0
4      1
      ..
669    1
670    1
671    1
672    0
673    0
Name: disabled_parking_spots, Length: 674, dtype: int64

Assumption that null values mean that the facilities are not available.
So we impute null values with 0

In [4]:
facil_col = ['ticket_vending_machine', 'luggage_lockers', 'free_parking', 'taxi', 'bicycle_spots', 'blue-bike',
             'bus', 'tram', 'metro', 'wheelchair_available', 'ramp', 'disabled_parking_spots', 'elevated_platform',
             'escalator_up', 'escalator_down', 'elevator_platform', 'audio_induction_loop']

for col in facil_col:
    data.facilities[col].fillna((0), inplace=True)

If street, zip and city are null, then the station is not from Belgium so we can drop it

In [35]:

data.facilities = data.facilities.dropna(axis=0, subset=["street", "zip", "city"])
data.facilities

,URI,name,street,zip,city,ticket_vending_machine,luggage_lockers,free_parking,taxi,bicycle_spots,...,sales_open_wednesday,sales_close_wednesday,sales_open_thursday,sales_close_thursday,sales_open_friday,sales_close_friday,sales_open_saturday,sales_close_saturday,sales_open_sunday,sales_close_sunday
2,008895000,aalst,Stationsplein 9,9300,Aalst,1.0,0.0,1.0,1.0,1.0,...,0 days 05:45:00,0 days 20:00:00,0 days 05:45:00,0 days 20:00:00,0 days 05:45:00,0 days 20:00:00,0 days 06:00:00,0 days 20:00:00,0 days 06:00:00,0 days 20:00:00
3,008895125,aalst-kerrebroek,Ledebaan,9300,Aalst,0.0,0.0,1.0,0.0,0.0,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00
4,008891140,aalter,Stationsplein 2,9880,Aalter,1.0,0.0,1.0,0.0,1.0,...,0 days 07:00:00,0 days 14:15:00,0 days 07:00:00,0 days 14:15:00,0 days 07:00:00,0 days 14:15:00,0 days 07:45:00,0 days 15:00:00,0 days 07:45:00,0 days 15:00:00
5,008833209,aarschot,Statieplein,3200,Aarschot,1.0,0.0,1.0,0.0,1.0,...,0 days 05:45:00,0 days 20:00:00,0 days 05:45:00,0 days 20:00:00,0 days 05:45:00,0 days 20:00:00,0 days 06:00:00,0 days 20:00:00,0 days 07:00:00,0 days 14:15:00
6,008892288,aarsele,Hogenhovenstraat Zn,8700,Aarsele,1.0,0.0,0.0,0.0,0.0,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,008832250,zolder,Stationsstraat Z/n,3550,Heusden - Zolder,1.0,0.0,1.0,0.0,0.0,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00
669,008832334,zonhoven,Engstegenseweg,3520,Zonhoven,1.0,0.0,1.0,0.0,0.0,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00
670,008895208,zottegem,Stationsplein 12,9620,Zottegem,1.0,0.0,1.0,0.0,1.0,...,0 days 05:45:00,0 days 20:00:00,0 days 05:45:00,0 days 20:00:00,0 days 05:45:00,0 days 20:00:00,0 days 07:15:00,0 days 14:30:00,0 days 07:15:00,0 days 14:30:00
672,008894821,zwijndrecht,Fortlaan 1,2070,Zwijndrecht,1.0,0.0,1.0,0.0,1.0,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00
673,008883212,écaussinnes,Avenue De La Déportation,7190,Ecaussinnes,1.0,0.0,1.0,0.0,1.0,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00

Stations that do not have openinghours (null values), simply don't have a 'building'
We change those null values to 00:00 , interpreted as opening and closing at 00:00 so no opening time , (NOT opened 24/7)

In [6]:

facility_openinghours=['sales_open_monday', 'sales_close_monday', 'sales_open_tuesday',
       'sales_close_tuesday', 'sales_open_wednesday', 'sales_close_wednesday',
       'sales_open_thursday', 'sales_close_thursday', 'sales_open_friday',
       'sales_close_friday', 'sales_open_saturday', 'sales_close_saturday',
       'sales_open_sunday', 'sales_close_sunday']
for col in facility_openinghours:
    data.facilities[col] = data.facilities[col].fillna("00:00")
data.facilities.dtypes

URI                        object
name                       object
street                     object
zip                        object
city                       object
ticket_vending_machine    float64
luggage_lockers           float64
free_parking              float64
taxi                      float64
bicycle_spots             float64
blue-bike                 float64
bus                       float64
tram                      float64
metro                     float64
wheelchair_available      float64
ramp                      float64
disabled_parking_spots      int64
elevated_platform         float64
escalator_up              float64
escalator_down            float64
elevator_platform         float64
audio_induction_loop      float64
sales_open_monday          object
sales_close_monday         object
sales_open_tuesday         object
sales_close_tuesday        object
sales_open_wednesday       object
sales_close_wednesday      object
sales_open_thursday        object
sales_close_thursday       object
sales_open_friday          object
sales_close_friday         object
sales_open_saturday        object
sales_close_saturday       object
sales_open_sunday          object
sales_close_sunday         object
dtype: object

Change all opening and closing times to datetime

In [7]:
for fac_time in data.facilities[facility_openinghours]:
    if not is_datetime(data.facilities[fac_time]):
        data.facilities[fac_time] = pd.to_datetime(data.facilities[fac_time].astype(str), format='%H:%M')-pd.to_datetime('00:00', format='%H:%M')

In [8]:
data.facilities.dtypes

URI                                object
name                               object
street                             object
zip                                object
city                               object
ticket_vending_machine            float64
luggage_lockers                   float64
free_parking                      float64
taxi                              float64
bicycle_spots                     float64
blue-bike                         float64
bus                               float64
tram                              float64
metro                             float64
wheelchair_available              float64
ramp                              float64
disabled_parking_spots              int64
elevated_platform                 float64
escalator_up                      float64
escalator_down                    float64
elevator_platform                 float64
audio_induction_loop              float64
sales_open_monday         timedelta64[ns]
sales_close_monday        timedelta64[ns]
sales_open_tuesday        timedelta64[ns]
sales_close_tuesday       timedelta64[ns]
sales_open_wednesday      timedelta64[ns]
sales_close_wednesday     timedelta64[ns]
sales_open_thursday       timedelta64[ns]
sales_close_thursday      timedelta64[ns]
sales_open_friday         timedelta64[ns]
sales_close_friday        timedelta64[ns]
sales_open_saturday       timedelta64[ns]
sales_close_saturday      timedelta64[ns]
sales_open_sunday         timedelta64[ns]
sales_close_sunday        timedelta64[ns]
dtype: object

In [9]:
data.facilities

,URI,name,street,zip,city,ticket_vending_machine,luggage_lockers,free_parking,taxi,bicycle_spots,...,sales_open_wednesday,sales_close_wednesday,sales_open_thursday,sales_close_thursday,sales_open_friday,sales_close_friday,sales_open_saturday,sales_close_saturday,sales_open_sunday,sales_close_sunday
2,008895000,Aalst,Stationsplein 9,9300,Aalst,1.0,0.0,1.0,1.0,1.0,...,0 days 05:45:00,0 days 20:00:00,0 days 05:45:00,0 days 20:00:00,0 days 05:45:00,0 days 20:00:00,0 days 06:00:00,0 days 20:00:00,0 days 06:00:00,0 days 20:00:00
3,008895125,Aalst-Kerrebroek,Ledebaan,9300,Aalst,0.0,0.0,1.0,0.0,0.0,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00
4,008891140,Aalter,Stationsplein 2,9880,Aalter,1.0,0.0,1.0,0.0,1.0,...,0 days 07:00:00,0 days 14:15:00,0 days 07:00:00,0 days 14:15:00,0 days 07:00:00,0 days 14:15:00,0 days 07:45:00,0 days 15:00:00,0 days 07:45:00,0 days 15:00:00
5,008833209,Aarschot,Statieplein,3200,Aarschot,1.0,0.0,1.0,0.0,1.0,...,0 days 05:45:00,0 days 20:00:00,0 days 05:45:00,0 days 20:00:00,0 days 05:45:00,0 days 20:00:00,0 days 06:00:00,0 days 20:00:00,0 days 07:00:00,0 days 14:15:00
6,008892288,Aarsele,Hogenhovenstraat Zn,8700,Aarsele,1.0,0.0,0.0,0.0,0.0,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,008832250,Zolder,Stationsstraat Z/n,3550,Heusden - Zolder,1.0,0.0,1.0,0.0,0.0,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00
669,008832334,Zonhoven,Engstegenseweg,3520,Zonhoven,1.0,0.0,1.0,0.0,0.0,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00
670,008895208,Zottegem,Stationsplein 12,9620,Zottegem,1.0,0.0,1.0,0.0,1.0,...,0 days 05:45:00,0 days 20:00:00,0 days 05:45:00,0 days 20:00:00,0 days 05:45:00,0 days 20:00:00,0 days 07:15:00,0 days 14:30:00,0 days 07:15:00,0 days 14:30:00
672,008894821,Zwijndrecht,Fortlaan 1,2070,Zwijndrecht,1.0,0.0,1.0,0.0,1.0,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00
673,008883212,Écaussinnes,Avenue De La Déportation,7190,Ecaussinnes,1.0,0.0,1.0,0.0,1.0,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00

In [10]:
data.facilities.shape

(557, 36)

# INCIDENTS
Change date of the incident to datetime

In [11]:
if not is_datetime(data.incidents["Date of the incident"]):
    data.incidents["Date of the incident"] = pd.to_datetime(data.incidents["Date of the incident"].astype(str), format='%d/%m/%y')
data.incidents.dtypes

Month                                  object
Date of the incident           datetime64[ns]
Line                                   object
Place                                  object
Description of the incident            object
Number of minutes delay                 int64
Number of cancelled trains              int64
dtype: object

Remove month, since Date of the incidents already captures the month + extra info(day)

In [12]:
data.incidents = data.incidents.drop("Month", axis =1);
data.incidents

,Date of the incident,Line,Place,Description of the incident,Number of minutes delay,Number of cancelled trains
0,2019-01-04,96,HALLE,Persoonsongeval,2393,75
1,2019-01-08,59,BELSELE,Schade treinmaterieel,1491,23
2,2019-01-15,50A,Y.MEULEWIJK,Schade bovenleiding,1776,23
3,2019-01-18,161,GROENENDAAL,Uitzonderlijke weersomstandigheden,4388,89
4,2019-01-23,124,DE HOEK,Schade treinmaterieel,1379,16
...,...,...,...,...,...,...
193,2020-06-22,161,BOSVOORDE,Incident tijdens een werf,1322,6
194,2020-06-22,75,DEINZE,Brand in de nabijheid van het spoor,1077,28
195,2020-07-08,25,MECHELEN-NEKKERSPOEL,Persoonsongeval,2791,80
196,2020-07-31,130,CHATELET,Schade treinmaterieel,1534,42
197,2020-08-03,50,DENDERLEEUW,Dringende werken,6549,2

For the number of minutes delay:

In [13]:
frequency_trips = data.full_trips["Name of the stop"].value_counts()
frequency_trips

BRUSSEL-ZUID                 7421
BRUSSEL-NOORD                6899
BRUSSEL-CENTRAAL             6892
BRUSSEL-KAPELLEKERK          6892
BRUSSEL-CONGRES              6892
                             ...
OOSTENDE-ZEEHAVEN               3
LEUVEN-BUNDEL M                 2
HASSELT-AFLOS L.35/1            1
GENT-ZEEHAVEN                   1
GENT-SINT-PIETERS-BUNDELS       1
Name: Name of the stop, Length: 627, dtype: int64

In [14]:
# data.travelers["sum"] = data.travelers["Avg number of travelers in the week"] + data.travelers["Avg number of travelers on Saturday"] + data.travelers["Avg number of travelers on Sunday"]


data.travelers["sum"] = data.travelers["week"] + data.travelers["saturday"] + data.travelers["sunday"]
frequency_travelers = data.travelers[["Station", "sum"]].sort_values(by = ["sum"], ascending = False)
frequency_travelers

               Station       sum
83          BRU.-CENT.  106069.0
197  GENT-SINT-PIETERS  101227.0
88     BRU.-NOORD/NORD   87982.0
16      ANTWERPEN-CAAL   82099.0
306             LEUVEN   59739.0
..                 ...       ...
526              WELLE       NaN
532           WICHELEN       NaN
536           WOLFSTEE       NaN
543     ZEEBRUGGE-DORP       NaN
544   ZEEBRUGGE-STRAND       NaN

[553 rows x 2 columns]

For the number of cancelled trains:

In [15]:
# see below

# Satisfaction
Drop rows that have null values (not sure)

In [16]:
data.satisfaction.dropna(inplace=True)
data.satisfaction

     Unnamed: 0                    station  Avg Satisfaction
0             0           COURCELLES-MOTTE              3.63
1             1                       ROUX             13.58
2             2            RONET-FORMATION             55.84
4             4         CHATELET-FORMATION             62.61
5             5         MARCHIENNE-AU-PONT             25.93
..          ...                        ...               ...
616         616     ANTWERPEN-W.H.-B.KALLO             29.81
617         617                   VIELSALM             51.74
618         618                      GOUVY             67.90
619         619  SCHAARBEEK-PERRON VORMING             53.30
621         621  GENT-SINT-PIETERS-BUNDELS             49.02

[580 rows x 3 columns]

# Stations
URI imputation to only get the digits

In [17]:
data.stations['URI'] = data.stations['URI'].str[-9:]

Drop row if country code not "be"

In [18]:
data.stations = data.stations[data.stations["country-code"] == "be"]

drop the 4 alternative name columns

In [19]:
data.stations = data.stations.drop(["alternative-fr", "alternative-nl", "alternative-de", "alternative-en"], axis=1)

drop rows that have 0 for official transfer time: they aren't stations anymore

In [20]:
data.stations = data.stations.dropna(subset=["official_transfer_time"])
data.stations

,URI,name,country-code,longitude,latitude,avg_stop_times,official_transfer_time
3,008895000,Aalst,be,4.039653,50.942813,157.425373,300.0
4,008895125,Aalst-Kerrebroek,be,4.024407,50.948377,7.731343,300.0
5,008891140,Aalter,be,3.447848,51.092295,188.276119,240.0
6,008833209,Aarschot,be,4.824043,50.984406,171.664179,240.0
7,008892288,Aarsele,be,3.418363,50.984460,37.365672,300.0
...,...,...,...,...,...,...,...
669,008832250,Zolder,be,5.329900,51.033548,30.910448,300.0
670,008832334,Zonhoven,be,5.348815,50.989557,30.910448,300.0
671,008895208,Zottegem,be,3.814410,50.869102,161.223881,240.0
673,008894821,Zwijndrecht,be,4.329780,51.214108,150.514925,300.0
674,008883212,Écaussinnes,be,4.156639,50.562390,60.044776,300.0

# Stops

Impute name and URI, we dont need to keep the # of URI because we store the same number in platform

In [21]:

data.stops['URI'] = data.stops['URI'].str[-9:]
data.stops['parent_stop'] = data.stops['parent_stop'].str[-9:]

Drop the name columns

In [22]:
data.stops = data.stops.drop(["alternative-fr", "alternative-nl", "alternative-de", "alternative-en"], axis =1)

In [23]:
data.stops

,URI,parent_stop,longitude,latitude,name,platform
0,8821022#3,008821022,4.436395,51.207360,Antwerpen-Oost platform 3,3
1,8821022#4,008821022,4.436395,51.207360,Antwerpen-Oost platform 4,4
2,8891140#1,008891140,3.447848,51.092300,Aalter platform 1,1
3,8891140#2,008891140,3.447848,51.092300,Aalter platform 2,2
4,8891140#3,008891140,3.447848,51.092300,Aalter platform 3,3
...,...,...,...,...,...,...
2991,8866407#1,008866407,5.519122,49.560822,Virton platform 1,1
2992,8831401#3,008831401,5.050030,50.993340,Diest platform 3,3
2993,8821402#1,008821402,4.451318,51.462764,Essen platform 1,1
2994,8822111#3,008822111,4.299069,51.009092,Londerzeel platform 3,3
2995,8893542#3,008893542,3.921370,51.003150,Schellebelle platform 3,3

# Travelers

Impute missing values with 0: because null value indicates no train rides on that day /week

In [24]:
data.travelers['week'].fillna(0, inplace=True)
data.travelers['saturday'].fillna(0, inplace=True)
data.travelers['sunday'].fillna(0, inplace=True)
data.full_trips.columns

Index(['Unnamed: 0', 'Date of departure', 'Train number', 'Relation',
       'Railway operators', 'Railway of departure', 'Time of real arrival',
       'Time of real departure', 'Time of planned arrival',
       'Time of planned departure', 'Direction of relation',
       'Name of the stop', 'Railway of arrival', 'Date of planned arrival',
       'Date of planned departure', 'Date of real arrival',
       'Date of real departure'],
      dtype='object')

# Trips

Change all dates and times to datetime STILL NEEDS TO BE CHECKEED

In [25]:
# trips_dates= ["Date of departure", 'Date of planned arrival',
#        'Date of planned departure', 'Date of real arrival',
#        'Date of real departure']
# trips_times = ['Time of real arrival',
#        'Time of real departure', 'Time of planned arrival',
#        'Time of planned departure']
#
# for trip_time in data.full_trips[trips_times]:
#     if not is_datetime(data.full_trips[trip_time]):
#         data.facilities[trip_time] = pd.to_datetime(data.facilities[trip_time].astype(str), format='%H:%M:%S')-pd.to_datetime('00:00', format='%H:%M:%S')

In [26]:
data.full_trips.dtypes

Unnamed: 0                    int64
Date of departure            object
Train number                  int64
Relation                     object
Railway operators            object
Railway of departure         object
Time of real arrival         object
Time of real departure       object
Time of planned arrival      object
Time of planned departure    object
Direction of relation        object
Name of the stop             object
Railway of arrival           object
Date of planned arrival      object
Date of planned departure    object
Date of real arrival         object
Date of real departure       object
dtype: object

Check:
data.full_trips: "Name of the full stop"
Satisfaction: "Station"
Stations: "name"
Stops:"alternative-nl" first word , or the URI
Facilities:"name"

In [27]:
len(data.facilities["name"].unique())

557

In [28]:
len(data.stops["name"].unique())

1526

In [29]:
len(data.full_trips['Name of the stop'].unique())

627

In [30]:
len(data.satisfaction["station"].unique())
len(data.satisfaction["station"].unique())

580

In [31]:
len(data.stations["name"].unique())

569

In [32]:
len(data.travelers["Station"].unique())

553

Standardize name for facilities and travelers , we might have to do this for other ones too. So beware

In [33]:
data.facilities['name'] = data.facilities['name'].str.lower()
data.travelers['Station'] = data.travelers['Station'].str.lower()
data.travelers = data.travelers.replace({"Station": utils.Dict})
len(list(set(data.facilities['name']).intersection(set(data.travelers['Station']))))

550

Facilities contain these aswell, which are not in travelers.

In [34]:
print(list(set(data.facilities['name']).difference(set(data.travelers['Station']))))

['ham-sur-sambre', 'antwerpen-haven', 'bastogne-sud', 'bastogne-nord', 'florée', 'antwerpen-dam', 'antwerpen-oost']