# Question_4: Plot the number of stations per city in function of number of inhabitants.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import src.data_processing.data as data

In [10]:
facilities = data.facilities
facilities["city"]=facilities["city"].str.lower()
facilities

,URI,name,street,zip,city,ticket_vending_machine,luggage_lockers,free_parking,taxi,bicycle_spots,...,sales_open_wednesday,sales_close_wednesday,sales_open_thursday,sales_close_thursday,sales_open_friday,sales_close_friday,sales_open_saturday,sales_close_saturday,sales_open_sunday,sales_close_sunday
2,008895000,aalst,Stationsplein 9,9300,aalst,1.0,0.0,1.0,1.0,1.0,...,0 days 05:45:00,0 days 20:00:00,0 days 05:45:00,0 days 20:00:00,0 days 05:45:00,0 days 20:00:00,0 days 06:00:00,0 days 20:00:00,0 days 06:00:00,0 days 20:00:00
3,008895125,aalst-kerrebroek,Ledebaan,9300,aalst,0.0,0.0,1.0,0.0,0.0,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00
4,008891140,aalter,Stationsplein 2,9880,aalter,1.0,0.0,1.0,0.0,1.0,...,0 days 07:00:00,0 days 14:15:00,0 days 07:00:00,0 days 14:15:00,0 days 07:00:00,0 days 14:15:00,0 days 07:45:00,0 days 15:00:00,0 days 07:45:00,0 days 15:00:00
5,008833209,aarschot,Statieplein,3200,aarschot,1.0,0.0,1.0,0.0,1.0,...,0 days 05:45:00,0 days 20:00:00,0 days 05:45:00,0 days 20:00:00,0 days 05:45:00,0 days 20:00:00,0 days 06:00:00,0 days 20:00:00,0 days 07:00:00,0 days 14:15:00
6,008892288,aarsele,Hogenhovenstraat Zn,8700,aarsele,1.0,0.0,0.0,0.0,0.0,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,008832250,zolder,Stationsstraat Z/n,3550,heusden - zolder,1.0,0.0,1.0,0.0,0.0,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00
669,008832334,zonhoven,Engstegenseweg,3520,zonhoven,1.0,0.0,1.0,0.0,0.0,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00
670,008895208,zottegem,Stationsplein 12,9620,zottegem,1.0,0.0,1.0,0.0,1.0,...,0 days 05:45:00,0 days 20:00:00,0 days 05:45:00,0 days 20:00:00,0 days 05:45:00,0 days 20:00:00,0 days 07:15:00,0 days 14:30:00,0 days 07:15:00,0 days 14:30:00
672,008894821,zwijndrecht,Fortlaan 1,2070,zwijndrecht,1.0,0.0,1.0,0.0,1.0,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00
673,008883212,écaussinnes,Avenue De La Déportation,7190,ecaussinnes,1.0,0.0,1.0,0.0,1.0,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00

In [14]:
inhabitants_per_city = data.inhabitants_per_city
inhabitants_per_city["Gemeente"] = inhabitants_per_city["Gemeente"].str.lower()

In [15]:
inhabitants_per_city

     Niscode       Gemeente   mannen  vrouwen    totaal
0    11001.0     aartselaar     7334     7438     14772
1    11002.0      antwerpen   270078   268477    538555
2    11004.0       boechout     6728     7084     13812
3    11005.0           boom     9545     9605     19150
4    11007.0       borsbeek     5498     5834     11332
..       ...            ...      ...      ...       ...
577  93022.0      florennes     6303     5909     12212
578  93056.0  philippeville     4680     4730      9410
579  93088.0       walcourt     9038     9378     18416
580  93090.0      viroinval     2907     2923      5830
581      NaN        totalen  5773482  5932364  11705846

[582 rows x 5 columns]

In [16]:
facilities = facilities.sort_values(by='city').groupby('city').size().reset_index(name = 'NumberOfStations')
facilities

               city  NumberOfStations
0             aalst                 2
1            aalter                 1
2          aarschot                 2
3           aarsele                 1
4    aiseau-presles                 1
..              ...               ...
449          zingem                 1
450        zonhoven                 1
451        zottegem                 1
452           zwalm                 1
453     zwijndrecht                 1

[454 rows x 2 columns]

In [21]:
merged_df = facilities.merge(inhabitants_per_city, left_on="city", right_on="Gemeente")
merged_df

,city,NumberOfStations,Niscode,Gemeente,mannen,vrouwen,totaal
0,aalst,2,41002.0,aalst,44024,45846,89870
1,aalter,1,44084.0,aalter,14775,14742,29517
2,aarschot,2,24001.0,aarschot,15111,15696,30807
3,aiseau-presles,1,52074.0,aiseau-presles,5288,5638,10926
4,alken,1,73001.0,alken,5907,5978,11885
...,...,...,...,...,...,...,...
221,zele,1,42028.0,zele,10609,10722,21331
222,zonhoven,1,71066.0,zonhoven,10712,10945,21657
223,zottegem,1,41081.0,zottegem,13401,14216,27617
224,zwalm,1,45065.0,zwalm,4096,4184,8280
225,zwijndrecht,1,11056.0,zwijndrecht,9535,9896,19431

In [26]:
facilities[~facilities["city"].isin(inhabitants_per_city["Gemeente"])]

                            city  NumberOfStations
3                        aarsele                 1
7                         ampsin                 1
8                        angleur                 1
10                     anseremme                 1
13            antwerpen (ekeren)                 2
..                           ...               ...
442  zandbergen - geraardsbergen                 1
445                    zeebrugge                 2
447                       zellik                 1
448                       zichem                 2
449                       zingem                 1

[228 rows x 2 columns]

,city,NumberOfStations_x,Niscode,Gemeente,mannen,vrouwen,totaal,NumberOfStations_y
0,aalst,2,41002.0,aalst,44024,45846,89870,2
1,aalter,1,44084.0,aalter,14775,14742,29517,1
2,aarschot,2,24001.0,aarschot,15111,15696,30807,2
3,aiseau-presles,1,52074.0,aiseau-presles,5288,5638,10926,1
4,alken,1,73001.0,alken,5907,5978,11885,1
...,...,...,...,...,...,...,...,...
221,zele,1,42028.0,zele,10609,10722,21331,1
222,zonhoven,1,71066.0,zonhoven,10712,10945,21657,1
223,zottegem,1,41081.0,zottegem,13401,14216,27617,1
224,zwalm,1,45065.0,zwalm,4096,4184,8280,1
225,zwijndrecht,1,11056.0,zwijndrecht,9535,9896,19431,1