In [1]:
import src.data_processing.data as data
import numpy as np
import pandas as pd

In [2]:
travelers = data.travelers
travelers

     Unnamed: 0           Station    week  saturday  sunday     sum
0             0             aalst  6444.0    1768.0  1592.0  9804.0
1             1  aalst-kerrebroek    27.0       0.0     0.0     NaN
2             2            aalter  2288.0    1055.0   855.0  4198.0
3             3          aarschot  6270.0    1954.0  1395.0  9619.0
4             4           aarsele    34.0       0.0     0.0     NaN
..          ...               ...     ...       ...     ...     ...
548         548            zingem   523.0      98.0    86.0   707.0
549         549            zolder   123.0      38.0    37.0   198.0
550         550          zonhoven    67.0      29.0    19.0   115.0
551         551          zottegem  4936.0     986.0   931.0  6853.0
552         552       zwijndrecht   401.0      43.0    44.0   488.0

[553 rows x 6 columns]

In [3]:
stations = data.stations
stations

,URI,name,country-code,longitude,latitude,avg_stop_times,official_transfer_time
3,008895000,Aalst,be,4.039653,50.942813,157.425373,300.0
4,008895125,Aalst-Kerrebroek,be,4.024407,50.948377,7.731343,300.0
5,008891140,Aalter,be,3.447848,51.092295,188.276119,240.0
6,008833209,Aarschot,be,4.824043,50.984406,171.664179,240.0
7,008892288,Aarsele,be,3.418363,50.984460,37.365672,300.0
...,...,...,...,...,...,...,...
669,008832250,Zolder,be,5.329900,51.033548,30.910448,300.0
670,008832334,Zonhoven,be,5.348815,50.989557,30.910448,300.0
671,008895208,Zottegem,be,3.814410,50.869102,161.223881,240.0
673,008894821,Zwijndrecht,be,4.329780,51.214108,150.514925,300.0
674,008883212,Écaussinnes,be,4.156639,50.562390,60.044776,300.0

In [4]:
trips = data.full_trips
trips["Name of the stop"] = trips["Name of the stop"].str.lower()
trips

,Unnamed: 0,Date of departure,Train number,Relation,Railway operators,Railway of departure,Time of real arrival,Time of real departure,Time of planned arrival,Time of planned departure,Direction of relation,Name of the stop,Railway of arrival,Date of planned arrival,Date of planned departure,Date of real arrival,Date of real departure,Delay time
0,0,2020-09-22,11,ICE,SNCB/NMBS,36N,2022-10-31 06:31:22,2022-10-31 06:33:27,2022-10-31 06:31:00,2022-10-31 06:33:00,ICE: BRUSSEL-ZUID -> FRANKFURT(MAIN) HBF,brussel-noord/bruxelles-nord,0/1,2020-09-22 00:00:00,2020-09-22,2020-09-22,2020-09-22,22
1,1,2020-09-22,11,ICE,SNCB/NMBS,36N,2022-10-31 06:36:23,2022-10-31 06:36:23,2022-10-31 06:36:00,2022-10-31 06:36:00,ICE: BRUSSEL-ZUID -> FRANKFURT(MAIN) HBF,schaarbeek/schaerbeek,36N,2020-09-22 00:00:00,2020-09-22,2020-09-22,2020-09-22,23
2,2,2020-09-22,11,ICE,SNCB/NMBS,36N,2022-10-31 06:37:44,2022-10-31 06:37:44,2022-10-31 06:37:00,2022-10-31 06:37:00,ICE: BRUSSEL-ZUID -> FRANKFURT(MAIN) HBF,haren-sud/haren-zuid,36N,2020-09-22 00:00:00,2020-09-22,2020-09-22,2020-09-22,44
3,3,2020-09-22,11,ICE,SNCB/NMBS,36N,2022-10-31 06:38:39,2022-10-31 06:38:39,2022-10-31 06:38:00,2022-10-31 06:38:00,ICE: BRUSSEL-ZUID -> FRANKFURT(MAIN) HBF,diegem,36N,2020-09-22 00:00:00,2020-09-22,2020-09-22,2020-09-22,39
4,4,2020-09-22,11,ICE,SNCB/NMBS,36N,2022-10-31 06:39:47,2022-10-31 06:39:47,2022-10-31 06:40:00,2022-10-31 06:40:00,ICE: BRUSSEL-ZUID -> FRANKFURT(MAIN) HBF,kortenberg,36N,2020-09-22 00:00:00,2020-09-22,2020-09-22,2020-09-22,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72524,72524,2020-09-24,17200,EXTRA,SNCB/NMBS,130,2022-10-31 17:20:23,2022-10-31 17:20:23,2022-10-31 17:05:00,2022-10-31 17:05:00,NaN,ronet,130,2020-09-24 00:00:00,2020-09-24,2020-09-24,2020-09-24,923
72525,72525,2020-09-24,17200,EXTRA,SNCB/NMBS,154,2022-10-31 17:27:14,2022-10-31 17:27:14,2022-10-31 17:17:00,2022-10-31 17:17:00,NaN,namur-herbatte,154,2020-09-24 00:00:00,2020-09-24,2020-09-24,2020-09-24,614
72526,72526,2020-09-24,17200,EXTRA,SNCB/NMBS,NaN,2022-10-31 17:33:22,NaT,2022-10-31 17:20:00,NaT,NaN,jambes,154,2020-09-24 00:00:00,NaN,2020-09-24,NaN,802
72527,72527,2020-09-24,17301,EXTRA,SNCB/NMBS,140,2022-10-31 18:57:01,2022-10-31 18:58:04,2022-10-31 18:55:00,2022-10-31 18:56:00,NaN,charleroi-ouest,140/1,2020-09-24 00:00:00,2020-09-24,2020-09-24,2020-09-24,121
72528,72528,2020-09-24,17301,EXTRA,SNCB/NMBS,140,2022-10-31 19:29:57,2022-10-31 19:29:57,2022-10-31 19:26:00,2022-10-31 19:26:00,NaN,faux,140,2020-09-24 00:00:00,2020-09-24,2020-09-24,2020-09-24,237

In [5]:
travelers['Station'].isin(stations['name'].str.lower()).value_counts()

True    553
Name: Station, dtype: int64

In [6]:
np.setdiff1d(stations['name'].str.lower(), travelers['Station'])

array(['antwerpen-dam', 'antwerpen-oost', 'athus-frontiere',
       'bastogne-nord', 'bastogne-sud', 'blandain-frontiere',
       'erquelinnes-frontière', 'essen-grens', 'gouvy-frontiere',
       'ham-sur-sambre', 'hergenrath-frontiere', 'mouscron-frontiere',
       'quevy-frontiere', 'sterpenich-frontiere', 'vise-frontiere',
       'y.renory'], dtype=object)

In [7]:
travelers['Station'].isin(trips['Name of the stop']).value_counts()

True    553
Name: Station, dtype: int64

In [8]:
np.setdiff1d(travelers['Station'], trips['Name of the stop'].str.lower())

array([], dtype=object)

In [9]:
np.setdiff1d( trips['Name of the stop'].str.lower(),travelers['Station'])

array(['antwerpen-dam', 'antwerpen-oost', 'antwerpen-w.h.-b.kallo',
       'balen-werkplaatsen', 'baulers', 'bilzen-wijkspoor',
       "bois d'ausse", 'charleroi-faisceau a', 'chatelet-carwash',
       'chatelet-faisceau c', 'chatelet-formation', 'deinze-wijksporen',
       'flemalle-annexe', 'floree', 'gedinne-marchandises',
       'gent-sint-pieters-bundels', 'gent-zeehaven',
       'gentbrugge-perron c.w.', 'haacht-wijkspoor', 'halle-goederen',
       'ham-sur-sambre', 'hasselt-aflos l.35', 'hasselt-aflos l.35/1',
       'hatrival', 'haversin-garage', 'havinnes', 'hennuyeres-garage',
       'hermalle-sous-huy', 'izegem-sas', 'java', 'jemeppe-froidmont',
       'jemeppe-sur-sambre-marchandise', 'kapellen-wijkspoor',
       'kinkempois-relais', 'kortenberg-goederen',
       'la louviere-gare industrielle', 'lauwe', 'leuven-bundel m',
       'liers-faisceau', 'lobbes-garage', 'lokeren-oost',
       'luchtbal-wijkbundel', 'machelen', 'marche-les-dames-marchandises',
       'marcinelle', 'moustier-garage', 'namur-herbatte',
       'neufvilles-garage', 'ninove-wijkspoor', 'obourg-marchandises',
       'olne', 'oostende-perron t.o.p.', 'oostende-t.w.',
       'oostende-zeehaven', 'ottignies-relais', 'rhisnes-sas',
       'rivage-marchandises', 'ronet-formation', 'schaarbeek-carwash',
       'schaarbeek-d.o.p.', 'schaarbeek-groep g', 'schaarbeek-groep r',
       'schaarbeek-josaphat', 'schaarbeek-perron p.c.i.',
       'schaarbeek-perron t.w./d.-nos', 'schaarbeek-perron vorming',
       'schaarbeek-sas k/c', 'schulen-sas', 'sint-niklaas-oost',
       'stoumont', 'tilleur', 'tilly-garage', 'zeebrugge-vorming',
       'zolder-kruissporen'], dtype=object)